@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --mantle: #131316;
  --surface-1: #171920;
  --surface-2: #25272f;
  --text: #8A92BA;
  --highlight: #00B4ED;

  --surface-1--70: #171920B3;

  font-size: 62.5%;
  background-color: var(--mantle);
  color: var(--text);
  font-family: 'Ubuntu Mono', monospace;

}

body {
  font-size: 1.5rem;
}

form {
  background-color: var(--surface-1--70);
  border-radius: 1rem;
  border: solid 0.1rem var(--highlight);
}

input {
  all: unset;
  box-sizing: border-box;
  background-color: var(--surface-2);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--highlight);

}

input::placeholder {
  color: var(--text);
  opacity: 0.7;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--surface-2);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--text);
  transition: 0.5s;
}

input[type="file"] {
  display: none
}

.custom-file-input {
  cursor: pointer;
  background-color: var(--surface-2);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--text);
  transition: 0.5s;

}

.custom-file-input:hover,
button:hover {
  transform: scale(1.1);
  color: var(--highlight);
}

@keyframes grow-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}